# Dependencies
node_modules/

# Next.js
.next/
out/

# NestJS
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Archives / backups
*.rar
*.zip
*.7z

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Prisma
prisma/.cache/

33.txt